.section{
margin: 0;
padding: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}


a{
    color: white;
}


.st img{
    width: 100px;
    height: 100px;
}





main#main-container{
    min-height: 100vh;

}
 
.carousel-item img{
    width: 100%;
    aspect-ratio: 17/9;
    position: relative;
    display: block;
    

}

.carousel-inner{
    padding-top: 1%;
}