.section{
margin: 0;
padding: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}
.slider{
    width: 500px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;

}




.st img{
    width: 100px;
    height: 100px;
}


.principal img{
    width: 1342px;
    height: 650px;
    padding-top: 1%;
    
}


main#main-container{
    min-height: 100vh;

}
 
.carousel-item img{
    height: 78vh;
    aspect-ratio: 16/9;
    
    

}
