
body{
  background-color: #fff59d;
}





.logo{
    width:100px;
    height: 100px;
    margin-top: 35px;
    padding-top: 0px;
    padding: 7px;
    background-position:center;
    background-size: cover;
    cursor: pointer;
    


}
.logo:hover{
transition: 0.5s;
transform: translate(-8%);
}



.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:32px;
    z-index:100;
  }

  .whatsapp-icon:hover{
    transition: 0.5s;
    transform: translate(-5%) skewX(5deg);
  }
  
  .whatsapp-icon {
    margin-top:15px;
    height: 90px;
  }



.banner{
  height: 100px;
  
}




