
.header{
    background-image: url(/imagenes/bannerladrillo.jpg);
    
}

.header .nav-link li :hover{
    transform: scale(1.2);
    background-color:red;
    display: inline-block;
    transition: all 0.3s ease 0s;
   


}

.header .nav-link li{
    color: white;
    display: inline-block;
    padding: 30px;
    padding-top: 45px;
 
    
}


.header .btn:hover{
    transform: scale(1.2);
}


.header .logo img:hover{
    transform: scale(1.2);


}


.header .btn button{
    font-weight: 700;
    color:white;
    padding: 9px 30px;
    background:cadetblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

@media (max-width:500px){
    .header .nav-link a{
    flex-direction: column;
    color:blue;
       
    
}
 }