@import url(/logo.css);
@import url(/navegation.css);
@import url(/carrousel.css);

* {
  box-sizing: border-box;
  padding: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  margin: 0%;
}

body {
  background-color: antiquewhite;
 
}


.carta {
  padding: 50px 20px;
  display: inline-block;
}
.carta img {
  cursor: pointer;
  aspect-ratio: 1/1;
}

.carta img:hover {
  transform: rotate(-1deg);
}

.flex-container h3 {
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  background-image: url(./imagenes/banner\ 1.jpg); 
  
  padding: 4%;
  
}

.pie-pagina {
  width: 100%;
  height: 10%;
  background-color: cadetblue;

}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 130%;
  height: 100%;
  display: flex;
  padding-top: 50%;

 
}

.pie-pagina .grupo-1 .box figure img {
  width: 80%;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 30px;
  padding-top: 80%;
  
}

.pie-pagina .grupo-1 .box p {
  color: white;
  margin-top: 10px;
}

.pie-pagina .grupo-1 .box-container a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0a1a2a;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .box-container a:hover {
  color: aqua;
 
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

.principal img{ 
 margin: 0%;
 width: 500px;
 height: 500px;
 
}

.principal h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
  font-weight: bold;
 
}





